<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{title}}</h1>
    <table>
        <thead>
            <th>ID</th>
            <th>用户名</th>
            <th>年龄</th>
        </thead>
        <tbody>
        {% for item in data_list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.age }}</td>
                <td>
                    <a href="/user/delete/?nid={{ item.id }}">删除</a>
                </td>
                <td>
                    <a href="/user/change/?nid={{ item.id }}">修改</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>